---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero';
import Services from '../sections/Services';
import WebAnimation from '../sections/WebAnimation';
import Pricing from '../sections/Pricing';
import ContactForm from '../sections/ContactForm';
import Footer from '../sections/Footer.astro';
import { Testimonials } from '../sections/Testimonials';
import Navbar from '../components/Navbar';
---

<Layout
  title="Professional Web Development Services | Custom Websites & Web Apps | WorkInWeb"
  description="Expert web development agency specializing in custom websites, e-commerce solutions, and web applications. Our professional team creates fast, secure, and SEO-optimized websites that drive business growth. Get a free consultation today."
  image = "/workinweb_logo.jpeg", 
>
  <Navbar client:only="react"/>

  <main>
    <Hero client:only="react" />
    <Services client:only="react"  />
    <WebAnimation client:only="react" />
    <Testimonials client:only="react" />
    <Pricing client:only="react" />
    <ContactForm client:only="react"  />
  </main>
  
  <Footer />
</Layout>