---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero';
import Services from '../sections/Services';
import WebAnimation from '../sections/WebAnimation';
import Pricing from '../sections/Pricing';
import ContactForm from '../sections/ContactForm';
import Footer from '../sections/Footer.astro';
import { Testimonials } from '../sections/Testimonials';
import Navbar from '../components/Navbar';
---

<Layout
  title="WorkInWeb - Expert Frontend Development Services"
  description="Professional web development services specializing in modern frontend technologies. Create stunning, performant websites with WorkInWeb."
>
  <Navbar client:only="react"/>

  <main>
    <Hero client:only="react" />
    <Services client:only="react"  />
    <WebAnimation client:only="react" />
    <Testimonials client:only="react" />
    <Pricing client:only="react" />
    <ContactForm client:only="react"  />
  </main>
  
  <Footer />
</Layout>