---
import Navbar from '../components/Navbar';
import Layout from '../layouts/Layout.astro';
import Footer from '../sections/Footer.astro';
import HappyCustomersShowcase from '../sections/Showcase';
import ShowcaseGrid from '../sections/ShowcaseGrid';
---

<Layout 
  title="Our Work | Web Development Portfolio - WorkInWeb"   
  description="Explore our portfolio of successful web development projects. See how we've helped businesses transform their online presence with modern, high-performance websites."
  image="/workinweb_logo.app"
>
  <Navbar client:only="react"/>
  <main>
    <HappyCustomersShowcase client:only="react"/>
  </main>
  <Footer />
</Layout> 