---
import Navbar from '../components/Navbar';
import Layout from '../layouts/Layout.astro';
import Footer from '../sections/Footer.astro';
import Showcase from '../sections/Showcase.astro';
---

<Layout 
  title="Web Development Portfolio & Case Studies | Success Stories | WorkInWeb"   
  description="Explore our web development portfolio showcasing successful client projects. See how we've helped businesses achieve their goals with custom websites, e-commerce solutions, and web applications. View our work and results."
  image="/workinweb_logo.jpeg"
>
  <Navbar client:only="react"/>
  <main>
    <Showcase />
  </main>
  <Footer />
</Layout> 